{
  "presets": [
    [
      "C:\\github\\os\\fireform\\node_modules\\babel-preset-env\\lib\\index.js",
      {
        "loose": true,
        "modules": "commonjs"
      }
    ],
    "C:\\github\\os\\fireform\\node_modules\\babel-preset-react\\lib\\index.js",
    "C:\\github\\os\\fireform\\node_modules\\babel-preset-stage-1\\lib\\index.js"
  ],
  "plugins": [
    "C:\\github\\os\\fireform\\node_modules\\babel-plugin-transform-decorators-legacy\\lib\\index.js",
    [
      "C:\\github\\os\\fireform\\node_modules\\babel-plugin-transform-react-remove-prop-types\\lib\\index.js",
      {
        "mode": "wrap"
      }
    ],
    [
      "C:\\github\\os\\fireform\\node_modules\\babel-plugin-transform-runtime\\lib\\index.js",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ],
    "C:\\github\\os\\fireform\\node_modules\\babel-plugin-add-module-exports\\lib\\index.js"
  ],
  "ignore": [
    ".spec.js",
    ".test.js",
    "-test.js",
    "/__tests__/"
  ]
}